@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.cont {
  width: 380px;
  flex-direction: column;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  box-shadow: 0 3px 6px 0 #555;
  margin-top: 20px;
}
.cont h3 {
  color: black;
  font-size: 30px;
  padding: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.swift {
  color: #555;
  align-items: flex-start;
  font-size: 20px;
  padding: 10px;
}
/*@media (max-width: 1000px) {
  .cont {
    margin-left: -500px;
  }
}
@media (max-width: 900px) {
  .cont {
    margin-left: 90px;
  }
}
@media (max-width: 800px) {
  .cont {
    margin-left: 80px;
  }
}
@media (max-width: 400px) {
  .cont {
    margin-left: 70px;
  }
}
@media (max-width: 350px) {
  .cont {
    margin-left: 50px;
  }
}
@media (max-width: 300px) {
  .cont {
    margin-left: 40px;
  }
}*/
